@page "/Snowboard/{slug}/{id}"
@model BlueBirdSnowboardingApp.Pages.DetailsModel

    <h2 class="my-3">@Model.Snowboard.Nome</h2>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid rounded" src="@Model.Snowboard.ImagemUri">
        </div>
        <div class="col-6">
            <h4 class="my-3">Sobre:</h4>
            <p>@Model.Snowboard.Descricao</p>
            <h4 class="my-3">Mais Info:</h4>
            <ul>

                <li>
                <label asp-for="Snowboard.Preco"></label>
                : @Html.DisplayFor(model => model.Snowboard.Preco)</li>
                <li>
                <label asp-for="Snowboard.EntregaExpressa"></label>
                : @Html.DisplayFor(model => model.Snowboard.EntregaExpressa)</li>
                <li>
                Availible since: @Html.DisplayFor(model => model.Snowboard.DataCadastro)</li>
            </ul>
            <a class="btn my-3 btn-primary"
               asp-page="/Edit" asp-route-id="@Model.Snowboard.Snowboardid">Editar</a>
        </div>
    </div>